<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>修改密码</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link href="../../plugin/element-ui/lib/theme-chalk/index.css" rel="stylesheet">
    <link href="../../plugin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../plugin/css/style.css" rel="stylesheet">
</head>
<body background="../../pics/login-background.png" style="background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%; background-position: center"><!-- Table -->
<div id="app">
    <el-card shadow="hover" style="position: absolute; left: 50%; top: 50%; width: 600px; height: 430px; transform: translate(-50%, -50%)">
        <el-container>
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="130px" class="demo-ruleForm">
                <el-alert style="width: 560px"
                          title="注意"
                          type="error"
                          show-icon>
                    您正在修改 <b>{{this.account.name}}（{{this.account.accountName}}）</b>的密码，请确保当前环境安全。
                </el-alert>
                <br>
                <el-form-item label="旧密码" prop="oldPassword">
                    <el-input style="width: 70%" v-model="ruleForm.oldPassword" prefix-icon="el-icon-key" show-password></el-input>
                </el-form-item>
                <el-form-item label="新密码" prop="newPassword">
                    <el-input style="width: 70%" v-model="ruleForm.newPassword" prefix-icon="el-icon-key" show-password></el-input>
                </el-form-item>
                <el-form-item label="确认新密码" prop="repeatPassword">
                    <el-input style="width: 70%" v-model="ruleForm.repeatPassword" prefix-icon="el-icon-key" show-password></el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="captcha">
                    <el-container>
                        <el-aside width="200px">
                            <el-input style="width: 90%" v-model="captcha" placeholder="请输入验证码" prefix-icon="el-icon-key"></el-input>
                        </el-aside>
                        <el-aside>
                            <el-image
                                    style="width: 80px; height: 40px"
                                    :src="this.url"
                                    @click="refreshCaptcha()"></el-image>
                        </el-aside>
                    </el-container>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit()" style="width: 130px; position: absolute; right: 50%; transform: translate(-30%, 0%)">修改密码</el-button>
                </el-form-item>
            </el-form>
        </el-container>
    </el-card>

</div>
</body>

<!-- 引入组件库 -->
<script src="../../plugin/js/vue.js"></script>
<script src="../../plugin/element-ui/lib/index.js"></script>
<script src="../../plugin/js/jquery.min.js" type="text/javascript"></script>
<script src="../../plugin/js/axios-0.18.0.js"></script>

<script>
    var vue = new Vue({
        el: '#app',
        data() {
            var checkPassword = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error("确认密码不能为空！"));
                }
                else if (value !== this.ruleForm.newPassword) {
                    callback(new Error("两次密码输入不一致"));
                } else {
                    callback()
                }
            };
            var checkCaptcha = (rule, value, callback) => {
                if (this.captcha === '') {
                    callback(new Error("验证码不能为空！"));
                }
                else if (this.captcha.trim().length !== 4) {
                    callback(new Error("请确保验证码长度是四位！"));
                }
            };
            return {
                url: '/service/common/get-captcha',
                ruleForm : {
                    oldPassword: '',
                    newPassword: '',
                    repeatPassword: ''
                },
                account: {
                    name: '',
                    accountName: ''
                },
                captcha: '',
                rules: {
                    oldPassword: [
                        { required: true, message: '密码不能为空！', trigger: 'blur'},
                    ],
                    newPassword: [
                        { required: true, message: '密码不能为空！', trigger: 'blur'},
                        { max: 18, min: 6, message: '密码长度必须为6到18位之间！', trigger: 'blur'}
                    ],
                    repeatPassword: [
                        { validator: checkPassword, trigger: 'blur' }
                    ],
                    captcha : [
                        { validator: checkCaptcha, trigger: 'blur' }
                    ]
                }
            }
        },

        created() {
            this.getInfo();
        },

        methods: {
            getInfo() {
                axios.post("http://localhost/service/student/get-info").then(res => {
                    if (res.data.code === 1) {
                        this.$message.warning(this.data.message);
                        setTimeout(() => {
                            window.parent.location.href = "http://localhost/page/student/login.html";
                        }, 500);
                    } else {
                        this.account = res.data.data;
                    }
                });
            },

            refreshCaptcha() {
                this.url = '/service/common/get-captcha?' + new Date().getMilliseconds();
            },

            onSubmit() {
                this.$confirm("您正在提交密码修改申请，请确认信息是否正确。", "提示", {
                    confirmButtonText: '确认',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var valid = true;
                    this.$refs["ruleForm"].validate(v => {
                       if (!v) {
                           valid = false;
                       }
                    });
                    if (!valid) {
                        this.$message.error("填写信息有误，请检查后再重新提交！");
                        return;
                    }
                    axios.get("http://localhost/service/student/modify-password?accountName=" + this.account.accountName + "&password=" + this.ruleForm.oldPassword + "&newPassword=" + this.ruleForm.newPassword + "&captcha=" + this.captcha).then((res) => {
                        if (res.data.code === 0) {
                            this.$message.success(res.data.message);
                            setTimeout(() => {
                                window.parent.location.href = "http://localhost/page/student/index.html";
                            }, 500);
                        } else {
                            this.$message.error(res.data.message);
                        }
                    })
                }).catch(() => {

                });
            }
        }
    })
</script>
</html>